<div class="dropdown">
  <a class="dropbtn">Hello, {{user.username}}</a>
  <div class="dropdown-content">
    <a href="/users/profile">Profile</a>
    <a href="/users/logout">Log Out</a>
  </div>
</div>