{{#if messages.success}}
<div id="flash-message" class="success">{{messages.success}}</div>
{{/if}}

{{#if messages.error}}
<div id="flash-message" class="error">{{messages.error}}</div>
{{/if}}

{{#if flash.success}}
<div id="flash-message" class="success">{{flash.success}}</div>
{{/if}}

{{#if flash.error}}
<div id="flash-message" class="error">{{flash.error}}</div>
{{/if}}

<script>
  setTimeout(function () {
    var flashMessage = document.getElementById('flash-message');
    flashMessage.classList.add('fade');
    setTimeout(function () {
      flashMessage.remove();
    }, 1000);
  }, 2000);
</script>