<footer>
    <p>Aneesh Kumar <span>&copy</span> <a class="contact-link" href="mailto:your-email@example.com">Contact</a></p>
</footer>
<style>
    a.contact-link {
        color: white;
    }
</style>