<header>
    <h1>My Website</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Registration</a></li>
            <li><a href="/postvideo">Post Video</a></li>
            <li><a href="/viewpost/1">View Post</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</header>