<header>
    <h1>{{title}}</h1>
    <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button class="search-icon"></button>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/postvideo">Post Video</a></li>
            <li><a href="/viewpost/1">View Post</a></li>
            {{#if isLoggedIn}}
                {{> dropdown}}
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>