<header>
    <h1>{{title}}</h1>
    <form id="search-form" action="/search" method="POST">
        <div class="search-bar">
            <input id="search-input" name="searchTerm" type="text" placeholder="Search..." value="{{searchTerm}}">
            <button type="submit" class="search-icon" id="search-button" action="/search"> </button>
        </div>
    </form>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/postvideo">Post A Video</a></li>
            {{#if isLoggedIn}}
            {{> dropdown}}
            {{else}}
            <li><a href="/login">Login</a></li>
            {{/if}}
        </ul>
    </nav>
</header>