<main>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  <h2>Thanks for visiting my website!</h2>
  <button id="fetchPhotosBtn">Fetch Photos</button>
  <div class="photo-container" id="photoContainer"></div>
  <p id="photoCount">Number of Photos: 0</p>
</main>