<main>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css" />
  <script defer src="../public/js/index.js"></script>
  <button id="fetchPhotosBtn">Fetch Photos</button>
  <div class="photo-container" id="photoContainer"></div>
  <p id="photoCount">Number of Photos: 0</p>
</main>