<main>
  <h2>Home Page</h2>
  <div class="video-grid">
    <div class="video-card">
      <img src="video1.mp4" controls></img>
    </div>
    <div class="video-card">
      <img src="video2.mp4" controls></img>
    </div>
    <div class="video-card">
      <img src="video3.mp4" controls></img>
    </div>
    <div class="video-card">
      <img src="video4.mp4" controls></img>
    </div>
  </div>
</main>