<main>
  <h2>Home Page {{this.thumbnail}}</h2>
  {{#each videos}}
      <div class="video-card">
        <a href="/viewpost/{{this.id}}">
          <img src="{{this.thumbnail}}" alt="Video Thumbnail" controls>
        </a>
      </div>
    {{/each}}
</main>