<main>
	<section class="postvideo-section">
		<h2 class="postvideo-title">Post a Video</h2>
		<form action="/postvideo_submit" method="post" enctype="multipart/form-data">
			<label class="postvideo-label" for="post-title">Title:</label>
			<input class="postvideo-input" type="text" id="post-title" name="title" required>
			<br>
			<label class="postvideo-label" for="post-description">Description:</label>
			<textarea class="postvideo-input" id="post-description" name="description" required></textarea>
			<br>
			<label class="postvideo-label" for="video-file">Video:</label>
			<input class="postvideo-input" type="file" id="video-file" name="video-file" accept="video/*" required>
			<br>
			<a href="#">Acceptable Use Policy</a>
			<input type="checkbox" class="postvideo-checkbox" id="accept-policy" name="accept-policy" required>
			<input class="postvideo-submit" type="submit" value="Submit">
		</form>
	</section>
</main>