<main>
  <section class="profile-section">
    <div class="profile-top">
      <div class="profile-picture">
        <img src="http://localhost:3000/public{{user.profile_picture}}" alt="Profile Picture">
        <form action="/users/upload-profile-picture" method="POST" enctype="multipart/form-data">
          <input type="file" name="profilePicture" accept="image/jpeg, image/png">
          <button type="submit" class="change-picture-button">Change</button>
        </form>
      </div>
      <div class="profile-details">
        <h1 class="profile-username">{{user.username}}</h1>
        <p class="profile-email">{{user.email}}</p>
      </div>
    </div>
    <div class="profile-bottom">
      <h2 class="profile-posts-title">Posts</h2>
      <div class="profile-posts-grid">
        <!-- USER VIDEO POSTS -->
      </div>
    </div>
  </section>
</main>