<main>
  <section class="profile-section">
    <div class="profile-top">
      <div class="profile-picture">
        <img src="../public/sample_profile_picture.jpg" alt="Profile Picture">
        <div class="change-picture-button-container">
          <button class="change-picture-button">Change</button>
        </div>
      </div>
      <div class="profile-details">
        <h1 class="profile-username">{{user.username}}</h1>
        <p class="profile-email">{{user.email}}</p>
      </div>
    </div>
    <div class="profile-bottom">
      <h2 class="profile-posts-title">Posts</h2>
      <div class="profile-posts-grid">
        <!-- USER VIDEO POSTS -->
      </div>
    </div>
  </section>
</main>