<main>
  <section>
    <h1>User Profile</h1>
    <p>Username: {{user.username}}</p>
    <p>Email: {{user.email}}</p>

    <h2>Posts</h2>
    <ul>
      <li><a href="#">Your Post 1</a></li>
      <li><a href="#">Your Post 2</a></li>
      <li><a href="#">Your Post 3</a></li>
    </ul>
  </section>
</main>