* {
    font-family: 'Akshar', sans-serif;
}

input::file-selector-button {
    font-family: 'Akshar', sans-serif;
}

.postvideo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding: 50px 0;
}

.postvideo-title {
    font-size: 28px;
    margin-bottom: 50px;
}

.postvideo-label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.postvideo-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
    border: 2px solid #BFBFBF;
}

.postvideo-checkbox {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.postvideo-submit {
    display: inline-block;
    margin-left: 15.5%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #E1AD01;
    border: none;
    cursor: pointer;
}

.postvideo-submit:hover {
    background-color: #FFC947;
}