* {
    font-family: 'Akshar';
}

.profile-section {
    background-color: #F5F5F5;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin: 2rem auto;
    max-width: 80%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.profile-picture {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
}

.profile-username {
    font-size: 2rem;
    margin: 0;
}

.profile-email {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.profile-bottom {
    width: 100%;
}

.profile-posts-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}