@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&display=swap');

/*general styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Akshar', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  color: #000;
  min-height: 100vh;
}

/*header bar at top*/
header {
  background-color: #525c4f;
  padding: 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: inline;
  font-size: 1.5rem;
}

input[type="text"] {
  font-family: 'Akshar', sans-serif;
}

/*search bar styling*/
.search-bar {
  display: flex;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  height: 35px;
  width: 700px;
  max-width: 100%;
}

.search-bar input[type="text"] {
  flex: 1;
  height: 40px;
  border: none;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.search-bar button {
  height: 40px;
  width: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search-icon {
  background-image: url("/public/search-icon.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

/*nav bar styling*/
nav ul {
  list-style-type: none;
  display: inline;
  float: right;
}

nav li {
  display: inline;
  margin-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
}

nav a:hover {
  color: #41d6c3;
}

/*for actual content of page*/
main {
  padding: 2rem;
  flex: 1;
  background-color: #fff;
  color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

main h2 {
  font-size: 2rem;
  color: #525c4f;
  margin-bottom: 1rem;
}

main p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

/*footer styling*/
footer {
  background-color: #535d50;
  color: #fff;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
  width: 100%;
}

/*photo gallery styling*/
.photo-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  padding: 20px;
}

.photo-card {
  width: 200px;
  padding: 10px;
  border: 1px solid #5596e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s;
}

.photo-card:hover {
  opacity: 0.8;
}

.photo-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.photo-card p {
  font-size: 1rem;
  color: #777;
  margin-bottom: 1rem;
}

.photo-card button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #41d6c3;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
}

.photo-card button:hover {
  background-color: #2dc3b2;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 2rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-field label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"] {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
}

.form-field input[type="submit"] {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #5596e6;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-top: 1rem;
}

.form-field input[type="submit"]:hover {
  background-color: #3d70b2;
}